<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Conecta el CSS central -->
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-left">
            <a href="/">Inicio</a>
            <a href="/patients">Pacientes</a>
            <a href="/results">Resultados</a>
        </div>
        <div class="nav-right">
            <span id="user-name"><%= userName %></span>
            <a href="/auth/logout">Cerrar Sesión</a>
        </div>
    </nav>


    <h1>Editar Paciente</h1>

    <!-- Contenedor del formulario -->
    <div class="form-container">
        <form action="/patients/update/<%= patient._id %>" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= patient.name %>" required>

            <label for="age">Edad:</label>
            <input type="number" name="age" id="age" min="0" value="<%= patient.age %>" required>

            <label for="dni">DNI:</label>
            <input type="text" name="dni" id="dni" value="<%= patient.dni %>" required>

            <label for="gender">Género:</label>
            <select name="gender" id="gender" required>
                <option value="Masculino" <%= patient.gender === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                <option value="Femenino" <%= patient.gender === 'Femenino' ? 'selected' : '' %>>Femenino</option>
                <option value="Otro" <%= patient.gender === 'Otro' ? 'selected' : '' %>>Otro</option>
            </select>

            <label for="phone">Teléfono:</label>
            <input type="tel" name="phone" id="phone" value="<%= patient.phone %>" required>

            <label for="status">Estado:</label>
            <select name="status" id="status" required>
                <option value="No empezado" <%= patient.status === 'No empezado' ? 'selected' : '' %>>No empezado</option>
                <option value="En proceso" <%= patient.status === 'En proceso' ? 'selected' : '' %>>En proceso</option>
                <option value="Terminado" <%= patient.status === 'Terminado' ? 'selected' : '' %>>Terminado</option>
            </select>

            <button type="submit">Actualizar Paciente</button>
        </form>
        
        <!-- Botón de cancelar -->
        <a href="/patients" class="btn btn-cancel">Cancelar</a>

        <!-- Botón para eliminar paciente -->
        <form action="/patients/delete/<%= patient._id %>" method="POST">
            <button type="submit" class="btn btn-delete">Eliminar Paciente</button>
        </form>
    </div>
</body>
</html>
